<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <h4 *ngIf="isLoggedIn" class="card-title">Your Favorite Heroes</h4>
                      <h4 *ngIf="!isLoggedIn" class="card-title">Sample Heroes</h4>
                      <h3 *ngIf="!isLoggedIn" class="card-title">2/20
                        <small>heroes</small>
                     </h3>                      
                    <h3 *ngIf="isLoggedIn" class="card-title">{{heroes?.length}}/20
                        <small>heroes</small>
                     </h3>
                  </div>
                  <div  class="card-footer justify-content-end">
                    <div class="float-right flex-end"  class="stats">
                        <i class="material-icons text-danger" *ngIf="heroes?.length==20">warning</i>
                        <h4 *ngIf="!isLoggedIn" id="please" (click)="login()" class="text-right">Please Login to discover your hero.<br></h4>
                        <h4 *ngIf="isLoggedIn" class="text-right">There goes my hero...<br></h4>
                        <p class="text-right" *ngIf="heroes?.length==20">You can't add more hero.Delete your hero if you want to add a new hero.</p><br>
                    </div>     
                  </div>
              </div>
          </div>
          
          
          
      </div>
      <div class="row">
          <div *ngFor="let hero of heroes" class="col-md-4">
              <div class="card" style="border:solid">
                  <img src={{hero.url}}>
                  <div class="card-body">
                   <div   class="d-flex">
                      <h3   class="card-title">{{hero.name}}</h3>
                   </div>
                   <div class="row">
                     <div class="flex-end offset-lg-2 col-lg-10 offset-md-2 col-md-10">  
                       <button  *ngIf="isLoggedIn" class="float-right btn btn-outline-primary"(click)="delete(hero)" style="border:solid">delete</button>
                     </div>
                   </div>
                   <p class="card-category">
                          <span *ngIf="!isLoggedIn" class="text-success">Sample</span></p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        © 2019 MARVEL
                      </div>
                  </div>
              </div>
          </div>
          
          <div class="col-md-4">
            
        </div>
        
      </div>
      <div class="row">

          <div class="col-lg-6 col-md-12">
          </div>
      </div>
  </div>
</div>
