<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Heroes List</h4>
                      <p class="card-category"> select a hero you want to add to your team</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                        <div class="float-right flex-end"  class="stats">
                          <div *ngIf="dashboardheroes?.length>=20">
                              <i class="material-icons text-danger">warning</i>
                              <a class="text-right" *ngIf="dashboardheroes?.length>=20">You can't add more hero.Delete your hero if you want to add a new hero.</a>
                          </div>                        
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Name
                                  </th>
                                 
                                  <th>
                                     
                                  </th>
                              </thead>
                             
                              <tbody *ngFor="let hero of heroes" >
                                  <tr>
                                      <td>
                                          {{hero.name}}
                                      </td>
                                      <td>
                                         <button [disabled]="dashboardheroes?.length>=20" (click)=insertHero(hero)>ADD A HERO TO YOUR TEAM!</button> 
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Table on Plain Background</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
